<br><br><br>
<ng-template [ngIf]="usuario">
<form [formGroup]="FormUpdate" (ngSubmit)="submitForm()" novalidate>
    <table class="table table-striped">
      <tr>
        <td>
          <div class="container bgcontainer">
            <div class="row my-4">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-6 shadow-sm h-md-250 ">
                <div class="col p-4 d-flex flex-column position-static">
                  <img src="{{usuario.foto}}" alt="Imagen">
                </div>
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-0 text-primary">{{ usuario.name }} {{ usuario.primerApellido }} {{
                    usuario.segundoApellido }} </h3>
                  <br>
                  <br>
                  <div class="container">
                    <div class="row">
                      <div class="col">
                        <p class="card-text"><b>Email: </b>{{ usuario.email }}</p>
                        <p class="card-text"><b>Identificacion: </b>{{ usuario.identificacion }}</p>
        <th>Estado del Usuario: </th>
        <div [ngSwitch]="usuario.estado">
          <div *ngSwitchCase="0">Deshabilitado</div>
          <div *ngSwitchCase="1">Habilitado</div>
          <div *ngSwitchCase="2">Solicitud de Usuario</div>
          <div *ngSwitchDefault>Oops! ah ocurrido un error! </div>
        </div>
        <br>
        <th>Rol del Usuario: </th>
        <div [ngSwitch]="usuario.profile_id">
          <div *ngSwitchCase="1">Administrador </div>
          <div *ngSwitchCase="2">Encargardo </div>
          <div *ngSwitchDefault>Oops! ah ocurrido un error! </div>
        </div>
        </div>
        <br>
        <br>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </td>

        <td>
          <div class="container bgcontainer">
            <div class="row my-4">
              <h4 style="font-size:100px; color:#b68d40; margin:10px;" class="bg-light text-center titleInventory">
                Editar usuario</h4>
              <div class="d-flex text-white">
                <div class="list-group w-100 p-3">
                  <a class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="email" formControlName="email" />
                      <div class="col-sm-4">

                      </div>
                    </div>
                    <br><br>
                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="Password" formControlName="password" />
                      <div class="col-sm-4">

                      </div>
                    </div>
                    <br><br>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="URL Foto" formControlName="foto" />
                      <div class="col-sm-4">

                      </div>
                    </div>
                    <br><br>
           <div class="form-group">
            <label for="roles">Estado</label>
            <select class="form-select" formControlName="estado">
              <option value="1">
                {{'Habilitado'}}
              </option>
              <option value="0">
                {{'Des-Habilitado'}}
              </option>
            </select>
          </div>
<br><br>

  <div class="form-group">
            <label for="roles">Perfil de Usuario</label>
            <select class="form-select" formControlName="profile_id">
              <option *ngFor="let perfil of perfiles" [value]="this.perfil.id">
                {{perfil.descripcion}}
              </option>
            </select>
            <div class="col-sm-4">
              <small *ngIf="errorHandling('profile_id', 'required')" class="text-danger">
                El rol es requerido
              </small>
            </div>
  </div>
<br><br>

                    <div class="btn-group" role="group">
                      <button type="submit" class="btn btn-primary">Salvar cambios </button>
                      <button type="reset" (click)="onReset()" class="btn btn-secondary">
                        Cancelar
                      </button>
                    </div>
                    <br><br>
                  </a>
                </div>
              </div>
            </div>
          </div>


        </td>
      </tr>
    </table>
    </form>
</ng-template>


