<br>
<br>
<ng-template #loading>
  <div class="loader">Loading...</div>
</ng-template>
<ng-template [ngIf]="datos" [ngIfElse]="loading">
  <div class="container bgcontainer">
    <h5 class="bg-dark text-center titleInventory">Registro de Movimientos por {{currentUser.user.name}}
      {{currentUser.user.primerApellido}}</h5>
      <input type="text" class="form-control" name="searchText" width="25px" placeholder="Buscar" [(ngModel)]="filterTerm" />
      <br />
    <div class="d-flex text-white" *ngFor="let item of datos |filter:filterTerm">
      <div class="list-group w-100 p-3">
        <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 fecha">{{item.fecha}}</h5>
            <small class="movement">{{item.movement.descripcion}}</small>
          </div>
          <p class="mb-1">{{item.description}}</p>
          <h6 class="mb-1">Productos:</h6>
          <small>
            <ul>
              <li *ngFor="let itemProducts of item.products">
                {{itemProducts.nombre}} = {{itemProducts.pivot.cantidad}}
              </li>
            </ul>
          </small>
          <br />
          <small>
            Registro por:
            {{item.user.name}} {{item.user.primerApellido}}
          </small>
        </a>
      </div>

    </div>

  </div>
</ng-template>

