.title{
  color: #B68D40;
  text-align: center;
}

.alerta{
  color: #e0421a;
  font-weight: bolder;
}

.precio{

  font-weight: bolder;
}

.bgcontainer{
  background-color: #b8b4b473;
  padding: 1em;
  border-radius: 16px;
}

.titleSupplier{
  color: #B68D40;
  padding: 1.5em;
  border-radius: 16px;
}
