<br><br><br>
<ng-template #loading>
  <div class="loader">Loading...</div>
</ng-template>
<ng-template [ngIf]="movement" [ngIfElse]="loading">
  <div class="container">

    <div class="row card">
      <div class="card-header">
        <h3>Registro de Entrada de Inventario</h3>
      </div>
      <div class="card-body">
        <div class="col-md-6">
          <div class="d-flex">
            <div class="container-fluid" *ngIf="isAutenticated">
              <div type="button" class="btn btn-dark container"
                style="background-image: url('{{currentUser.user.foto}}');" id="imgProfile" data-bs-toggle="dropdown"
                aria-expanded="false" title="{{currentUser.user.email}}">
              </div>
              <strong> Registro por: {{currentUser.user.name}} {{currentUser.user.primerApellido}}
                {{currentUser.user.segundoApellido}}</strong>
              <br>
              <br>
              <p class="card-text">Fecha:{{fecha | date:'dd/MM/yyyy'}}</p>
              <div class="formcontainer">
                <form [formGroup]="FormCreate" (ngSubmit)="submitForm()" novalidate>
                  <div class="row justify-content-center margen">
                    <div class="col-md-8">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="nombre">Movimiento </label>
                        <div class="col-sm-8">
                          <select formControlName="movement_id" class="form-select">
                            <option value="" selected disabled>Seleccione un Movimiento</option>
                            <option *ngFor="let m of movement" [value]="m.id">
                              {{m.descripcion}}
                            </option>
                          </select>
                        </div>
                        <div class="col-auto">
                          <small *ngIf="errorHandling('movement_id', 'required')" class="text-danger">
                            El Movimiento es requerido
                          </small>
                        </div>
                      </div>

                      <br />
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="nombre">Comentario </label>
                        <div class="col-sm-8">
                          <textarea id="description" formControlName="description" name="description" type="text" rows="3"
                            minlength="5" maxlength="250" class="form-control mb-2 textarea"
                            placeholder="Comentario"></textarea>

                        </div>
                        <div class="col-auto">
                          <small *ngIf="errorHandling('description', 'required')" class="text-danger">
                            El comentario es requerido
                          </small>
                        </div>
                      </div>
                      <div class="row clearfix" align="center">
                        <button class="btn btn-success mb-2" title="Confirmar Registros" type="submit">
                          <i class="far fa-check-circle awsomeIcon"></i>
                          <label class="awsomeTitle">Registrar Entradas</label>

                        </button>
                      </div>
                      <br>
                      <br>

                    </div>
                  </div>
                </form>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" row card">
      <div class="card-header">Productos a Mover</div>
      <div class="card-body">
        <table class="table table-bordered table-hover" border="2px">
          <thead class="backtable">
            <tr>
              <th>
                Producto
              </th>
              <th class="right">
                Nombre
              </th>
              <th class="right">
                Tipo
              </th>
              <th class="right">
                Cantidad Total
              </th>
              <th class="right">
                Cantidad a Mover
              </th>
              <th class="right">
                Proveedores
              </th>
              <th>
                Eliminar
              </th>

            </tr>
          </thead>
          <tbody>
            <tr class="group" style="cursor: pointer" *ngFor="let item of items; let i = index">
              <td>
                <img src="{{item.product.imagen}}" class="p-0 m-0 imgItem" />
              </td>
              <td>
                <p>{{item.product.nombre}}</p>
              </td>
              <td>
                <p>{{item.product.category.nombre}}</p>

              </td>
              <td class="right">
                <p>{{item.product.cantidad_total}}</p>

              </td>
              <td class="center">
                <input type="number" class="form-control mb-2" [(ngModel)]="item.cantidad"
                  (change)="actualizarCantidad(item)" min="1" max="{{item.product.cantidad_maxima}}"
                  placeholder="Cantidad a mover">
              </td>

              <td class="right">
                <ul>
                  <li *ngFor="let itemSup of item.product.suppliers">
                    {{itemSup.nombre}}
                  </li>
                </ul>
              </td>
              <td class="text-center">
                <button class="btn btn-danger btn-sm" title="Quitar de la lista" (click)="eliminarItem(item)">
                  <i class="fas fa-minus-circle awsomeTitle"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <br>

      </div>
    </div>
    <br /><br /><br />
  </div>
</ng-template>


