<nav class="navbar navbar-expand-lg navbar-dark navcolor fixed-top"  >
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <i class="fas fa-tools awsomeNav"></i>
      <span class="awsomeNaveTitle"> WareHouse Tools</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link awsomeNaveTitle" aria-current="page" href="/" *ngIf="isAutenticated">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle awsomeNaveTitle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" *ngIf="isAutenticated">
            Mantenimientos
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item awsomeNaveSubTitle" href="#">
                Proveedores &raquo;
              </a>
              <ul class="dropdown-menu dropdown-submenu bg-dark">
                <li>
                  <a class="dropdown-item awsomeNaveSubTitle" href="#">Nuevo Registro</a>
                </li>
                <li>
                  <a class="dropdown-item awsomeNaveSubTitle" [routerLink]="['/supplier/all']" routerLinkActive="active">Ver todos los registros</a>
                </li>
              </ul>
            </li>

            <li>
              <a class="dropdown-item awsomeNaveSubTitle" href="#">
                Productos &raquo;
              </a>
              <ul class="dropdown-menu dropdown-submenu bg-dark">
                <li>
                  <a class="dropdown-item awsomeNaveSubTitle" href="#">Nuevo Registro</a>
                </li>
                <li>
                  <a class="dropdown-item awsomeNaveSubTitle" [routerLink]="['/producto/all']" routerLinkActive="active">Ver todos los registros</a>
                </li>
                <li>
                  <a class="dropdown-item awsomeNaveSubTitle" [routerLink]="['/producto/reposicion']" routerLinkActive="active">En reposición</a>
                </li>

              </ul>
            </li>
            <li>
              <hr class="dropdown-divider awsomeNaveTitle">
            </li>
            <li>
              <a class="dropdown-item awsomeNaveSubTitle" href="#">
              Usuarios &raquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu bg-dark">
                          <li><a class="dropdown-item awsomeNaveSubTitle" routerLink='user/registrar'>Registrar Usuario</a></li>
                            <li>
                <a class="dropdown-item awsomeNaveSubTitle" href="#">Ver Solicitudes</a>
              </li>
              <li>
                <a class="dropdown-item awsomeNaveSubTitle" href="#">Administrar Usuarios</a>
              </li>
              <li>
                <a class="dropdown-item awsomeNaveSubTitle" href="#">Usuarios Deshabilitados</a>
              </li>

            </ul>
          </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle awsomeNaveTitle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" *ngIf="isAutenticated">
            Procesos
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item awsomeNaveSubTitle" href="#">
                Movimientos &raquo;
              </a>
              <ul class="dropdown-menu dropdown-submenu bg-dark">
                <li>
                  <a class="dropdown-item awsomeNaveSubTitle" href="#">Nuevo Registro</a>
                </li>
                <li>
                  <a class="dropdown-item awsomeNaveSubTitle" href="#">Ver todos los registros</a>
                </li>

              </ul>
            </li>
            <li>
              <a class="dropdown-item awsomeNaveSubTitle" href="#">
                Entradas &raquo;
              </a>
              <ul class="dropdown-menu dropdown-submenu bg-dark">
                <li>
                  <a class="dropdown-item awsomeNaveSubTitle" href="#">Nuevo Registro</a>
                </li>
                <li>
                  <a class="dropdown-item awsomeNaveSubTitle"  [routerLink]="['/entrada/all']" routerLinkActive="active">
                    Ver todos los registros
                  </a>
                </li>
                <li>
                  <a class="dropdown-item awsomeNaveSubTitle" href="#">Mis registros</a><!--registros con el id del usuario logueado-->
                </li>

              </ul>

            </li>
            <li>
              <a class="dropdown-item awsomeNaveSubTitle" href="#">
                Salidas &raquo;
              </a>
              <ul class="dropdown-menu dropdown-submenu bg-dark">
                <li>
                  <a class="dropdown-item awsomeNaveSubTitle" href="#">Nuevo Registro</a>
                </li>
                <li>
                  <a class="dropdown-item awsomeNaveSubTitle" [routerLink]="['/salida/all']" routerLinkActive="active">Ver todos los registros</a>
                </li>
                <li>
                  <a class="dropdown-item awsomeNaveSubTitle" href="#">Mis registros</a>
                  <!--registros con el id del usuario logueado-->
                </li>

              </ul>
            </li>
            <li>
              <hr class="dropdown-divider awsomeNaveTitle">
            </li>
            <li><a class="dropdown-item awsomeNaveSubTitle" href="#">Registros de inventario</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle awsomeNaveTitle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" *ngIf="isAutenticated">
            Reportes
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item awsomeNaveSubTitle" href="#">Reporte de Entradas</a></li>
            <li><a class="dropdown-item awsomeNaveSubTitle" href="#">Reporte de Salidas</a></li>
            <li><a class="dropdown-item awsomeNaveSubTitle" href="#">Reporte de Productos con mayor salidas</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link awsomeNaveTitle" routerLink="/home/acercade">Acerca de</a>
        </li>
      </ul>


<div class="d-flex">
<div class="container-fluid btn-group dropstart" *ngIf="isAutenticated">
<div type="button" class="btn btn-dark container" style="background-image: url('{{currentUser.user.foto}}');"
          id="imgProfile" data-bs-toggle="dropdown" aria-expanded="false">
        </div>
 <ul class="dropdown-menu bg-dark menudrop">
            <li>
              <p class="dropdown-item textLabel">{{currentUser.user.name}} {{currentUser.user.primerApellido}} {{currentUser.user.segundoApellido}}</p>
            </li>
            <li><a class="dropdown-item awsomeNaveSubTitle" [routerLink]="['user/',currentUser.user.id]" routerLinkActive="active">Editar Perfil</a></li>
            <li><a class="dropdown-item awsomeNaveSubTitle" routerLink="user/login" routerLinkActive="active"
                *ngIf="!(isAutenticated)">Login</a></li>
            <li><a class="dropdown-item awsomeNaveSubTitle" (click)="logout()" *ngIf="isAutenticated">Logout </a> </li>
          </ul>
 </div>
</div>

      



    </div>
  </div>
</nav>
<br>
<br>

