<nav class="navbar navbar-expand-lg navbar-dark navcolor fixed-top"  >
  <div class="container-fluid">
    <div [ngSwitch]="isAutenticated">
      <a class="navbar-brand" *ngSwitchCase="true" href="home/inicio">
        <i class="fas fa-tools awsomeNav"></i>
        <span class="awsomeNaveTitle"> WareHouse Tools</span>
      </a>
      <a class="navbar-brand" *ngSwitchCase="false" [routerLink]="['/user/login']" [routerLinkActive]="'actived'">
        <i class="fas fa-tools awsomeNav"></i>
        <span class="awsomeNaveTitle"> WareHouse Tools</span>
      </a>
      <div *ngSwitchDefault>Oops! ah ocurrido un error! </div>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link awsomeNaveTitle" aria-current="page" [routerLink]="['/home/inicio']" [routerLinkActive]="'actived'" *ngIf="isAutenticated">
            Home
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle awsomeNaveTitle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" *ngIf="isAutenticated" [routerLinkActive]="'actived'">
            Mantenimientos
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item awsomeNaveSubTitle" [routerLink]="['/supplier/all']" [routerLinkActive]="'actived'">
                Proveedores &raquo;
              </a>
              <ul class="dropdown-menu dropdown-submenu bg-dark">
                <li>
                  <a class="dropdown-item awsomeNaveSubTitle" [routerLink]="['/supplier/create']" [routerLinkActive]="'actived'">Nuevo Registro</a>
                </li>
                <li>
                  <a class="dropdown-item awsomeNaveSubTitle" [routerLink]="['/supplier/all']" [routerLinkActive]="'actived'">Ver todos los registros</a>
                </li>
              </ul>
            </li>

            <li>
              <a class="dropdown-item awsomeNaveSubTitle" [routerLink]="['/producto/all']" [routerLinkActive]="'actived'">
                Productos &raquo;
              </a>
              <ul class="dropdown-menu dropdown-submenu bg-dark">
                <li>
                  <a class="dropdown-item awsomeNaveSubTitle" [routerLink]="['/producto/create/']" [routerLinkActive]="'actived'">Nuevo Registro</a>
                </li>
                <li>
                  <a class="dropdown-item awsomeNaveSubTitle" [routerLink]="['/producto/all']" [routerLinkActive]="'actived'">Ver todos los registros</a>
                </li>
                <li>
                  <a class="dropdown-item awsomeNaveSubTitle" [routerLink]="['/producto/reposicion']" [routerLinkActive]="'actived'">En reposición</a>
                </li>

              </ul>
            </li>
            <li>
              <hr class="dropdown-divider awsomeNaveTitle">
            </li>
            <li>
              <a class="dropdown-item awsomeNaveSubTitle" [routerLink]="['/user']" [routerLinkActive]="'actived'">
              Usuarios &raquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu bg-dark">
            <li><a class="dropdown-item awsomeNaveSubTitle" [routerLink]="['user/registrar']" [routerLinkActive]="'actived'">Registrar Usuario</a></li>
            <li><a class="dropdown-item awsomeNaveSubTitle" [routerLink]="['/requests']" [routerLinkActive]="'actived'">Ver Solicitudes</a></li>
            <li><a class="dropdown-item awsomeNaveSubTitle" [routerLink]="['/user']" [routerLinkActive]="'actived'">Administrar Usuarios</a></li>
            <li><a class="dropdown-item awsomeNaveSubTitle" [routerLink]="['/allDisable']" [routerLinkActive]="'actived'">Usuarios Deshabilitados</a><li>
            </ul>
          </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle awsomeNaveTitle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" *ngIf="isAutenticated">
            Procesos
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">

            <li>
              <a class="dropdown-item awsomeNaveSubTitle" href="#">
                Entradas &raquo;
              </a>
              <ul class="dropdown-menu dropdown-submenu bg-dark">
                <li>
                  <a class="dropdown-item awsomeNaveSubTitle"  [routerLink]="['/entrada/create']" [routerLinkActive]="'actived'">Inventario de Entradas</a>
                </li>
                <li>
                  <a class="dropdown-item awsomeNaveSubTitle"  [routerLink]="['/entrada/all']" [routerLinkActive]="'actived'">
                    Ver todos los registros
                  </a>
                </li>

              </ul>

            </li>
            <li>
              <a class="dropdown-item awsomeNaveSubTitle" href="#">
                Salidas &raquo;
              </a>
              <ul class="dropdown-menu dropdown-submenu bg-dark">
                <li>
                  <a class="dropdown-item awsomeNaveSubTitle" [routerLink]="['/salida/create']" [routerLinkActive]="'actived'">Inventario de Salidas</a>
                </li>
                <li>
                  <a class="dropdown-item awsomeNaveSubTitle" [routerLink]="['/salida/all']" [routerLinkActive]="'actived'">Ver todos los registros</a>
                </li>

              </ul>
            </li>
            <li>
              <hr class="dropdown-divider awsomeNaveTitle">
            </li>
            <li><a class="dropdown-item awsomeNaveSubTitle" [routerLink]="['/entrada/user']" [routerLinkActive]="'actived'">Registros de Movimientos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle awsomeNaveTitle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" *ngIf="isAutenticated">
            Reportes
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item awsomeNaveSubTitle" href="#">Reporte de Entradas</a></li>
            <li><a class="dropdown-item awsomeNaveSubTitle" href="#">Reporte de Salidas</a></li>
            <li><a class="dropdown-item awsomeNaveSubTitle" href="#">Reporte de Productos con mayor salidas</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link awsomeNaveTitle" routerLink="/home/acercade">Acerca de</a>
        </li>
      </ul>


    <div class="d-flex">
      <div class="container-fluid btn-group dropstart" *ngIf="isAutenticated">
      <div type="button" class="btn btn-dark container" style="background-image: url('{{currentUser.user.foto}}');"
                id="imgProfile" data-bs-toggle="dropdown" aria-expanded="false">
      </div>
      <ul class="dropdown-menu bg-dark menudrop">
        <li>
          <p class="dropdown-item textLabel">{{currentUser.user.name}} {{currentUser.user.primerApellido}} {{currentUser.user.segundoApellido}}</p>
        </li>
        <li>
          <a class="dropdown-item awsomeNaveSubTitle" [routerLink]="['user',currentUser.user.id]" [routerLinkActive]="'actived'">Editar Perfil</a>
        </li>
        <li>
          <a class="dropdown-item awsomeNaveSubTitle" routerLink="user/login" [routerLinkActive]="'actived'" *ngIf="!(isAutenticated)">Login</a>
        </li>
        <li><a class="dropdown-item awsomeNaveSubTitle" (click)="logout()" *ngIf="isAutenticated">Logout </a> </li>
      </ul>
      </div>
    </div>
  </div>
</div>
</nav>
<br>
<br>

