<div class="container">
  <br><br>
  <div class="best-features about-features">
    <div class="container">
      <div class="row">
        <div class="col-md-13">
          <div class="section-heading">
            <h2 class="display-4">Nuestra Experiencia</h2><br>
          </div>
        </div>

        <div class="col-md-6">
          <div class="right-image">
            <img class="img-fluid imgInfo" src="assets/images/feature-image.jpg">
          </div>
        </div>


        <div class="col-md-6">

          <div class="left-content">
            <h4>Quienes somos &amp; Que hacemos ?</h4>
            <p>WareHouse Tools nace un 17 de octubre de 1979 llamada en ese entonces Ferretería Elizondo Castro. Fue
              creada por Bryan Elizondo quien con la ayuda de su hijo mayor Josue Elizondo nació la visión de ofrecer
              productos ferreteros de calidad.
              Con el tiempo y el esfuerzo impuesto por ambos, continuo creciendo gradualmente dando soluciones efectivas a
              sus clientes que cada vez eran más y nos vimos en la necesidad de extendernos ampliando nuestro stock de
              productos, y adaptándonos a las tendencias del mercado ferretero.
              Ferretería La Grapa cuenta con más de 20 colaboradores quienes dan una atención de calidad a nuestros
              clientes quienes han sido la razón principal de nuestro crecimiento y con quienes mantenemos una excelente
              relación comercial.
              En la actualidad hemos logrado crear una cartera de clientes muy extensa desde clientes que nos visitan
              desde de la comodidad de sus hogares hasta clientes como: constructoras, empresas privadas y estatales,
              hospitales, colegios. etc.</p>

            <i class="fab fa-facebook"></i> &nbsp;
            <i class="fab fa-twitter"></i>&nbsp;
            <i class="fab fa-linkedin"></i>

          </div>
        </div>

        <div class="team-members">
          <div class="container">
            <div class="row">
              <br><br>
              <hr>
              <div class="col-md-12">
                <div class="section-heading">
                  <h2 class="text-center">Miembros del Equipo</h2>
                  <p></p>
                </div>
              </div>

              <div class="col-md-4">
                <div class="team-member">
                  <div class="thumb-container">
                    <img src="assets/images/Josue.jpg" class="img-fluid imgDeveloper">
                    <div class="hover-effect">
                      <br>
                      <div class="hover-content">

                        <a href="https://www.facebook.com/Kr4K1sH/">
                        <i class="fab fa-facebook socialMedia"></i>
                        </a>
                        <i class="fab fa-twitter socialMedia"></i>

                        <a href="https://www.linkedin.com/in/josue-armando-castro-chaves-a4a259156/">
                         <i class="fab fa-linkedin socialMedia"></i>
                        </a>

                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="down-content">
                    <h4>Josue Castro </h4>
                    <span>CO-Founder</span>
                    <p>Vive la vida</p>
                    <p>Telefono : (+506) 44778855 </p>
                    <p>Correo : josue@gmail.com </p>
                  </div>
                </div>
              </div>


              <div class="col-md-4">
                <div class="team-member">
                  <div class="thumb-container">
                    <div class="hover-effect">
                      <div class="hover-content">
                      </div>
                    </div>
                  </div>
                  <div class="down-content">
                  </div>
                </div>
              </div>



              <div class="col-md-4">
                <div class="team-member">
                  <div class="thumb-container">
                    <img src="assets/images/BRYAN.jpg" class="img-fluid imgDeveloper">
                    <div class="hover-effect">
                      <br>
                      <div class="hover-content">
                        <i class="fab fa-facebook socialMedia"></i>
                        <a href="https://twitter.com/BrayanEzMora">
                          <i class="fab fa-twitter socialMedia"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/bryan-elizondo-mora-3b861618b">
                          <i class="fab fa-linkedin socialMedia"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="down-content">
                    <h4>Bryan Elizondo </h4>
                    <span>Co-Founder</span>
                    <p>Viva la vida</p>
                    <p>Telefono : (+506) 60013376 </p>
                    <p>Correo : bryanelizondo02@gmail.com </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <p> </p>
        <p></p>
        <p> </p>
        <p></p>

        <div class="services">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="service-item">
                  <i class="fas fa-cogs"></i>
                  <div class="down-content">
                    <h4>Manejo de Productos </h4>
                    <p>Nos gusta mantener una amplia relacion con nuestros empleados asegurandonos asi el mejor manejo de
                      nuestros productos con cuidado y atencion.</p>
                    <a href="#" class="filled-button">leer mas</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="service-item">
                  <i class="fas fa-cogs"></i>
                  <div class="down-content">
                    <h4>Relaciones con nuestros proveedores </h4>
                    <p> Las relaciones con nuestros proveedores son amplias ya que estamos involucrados en el negocio por
                      hace mas de 100 años en los cuales juntos hemos pasados las mejores peores situaciones .</p>
                    <a href="#" class="filled-button">Detalles </a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="service-item">
                  <i class="fas fa-cogs"></i>
                  <div class="down-content">
                    <h4>Manejo Global</h4>
                    <p> Contamos con una amplia gama de profesionales tanto nacionales como extranjeros los cuales nos han
                      llevado a lo que somos actualmente gracias a todos y cada uno somos la empresa con mejor ranking en
                      Costa Rica.</p>
                    <a href="#" class="filled-button">Leer mas</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <br> <br> <br> <br> <br>
          <div class="page-heading contact-heading header-text">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="text-content">
                    <h4>Contactanos</h4>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="find-us">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="section-heading">
                    <h2>Locación de Nuestras Oficinas</h2>
                  </div>
                </div>
                <div class="col-md-8">
                  <!-- How to change your own map point
                  1. Go to Google Maps
                  2. Click on your location point
                  3. Click "Share" and choose "Embed map" tab
                  4. Copy only URL and paste it within the src="" field below
                -->
                  <div id="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.0525129952275!2d-84.21498868519488!3d10.012521275565708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTDCsDAwJzQ1LjEiTiA4NMKwMTInNDYuMSJX!5e0!3m2!1ses!2scr!4v1623466773203!5m2!1ses!2scr"
                        width="100%" height="330px" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="left-content">
                    <h4>Acerca de Nuestra Oficina</h4>
                    <p>Nuestras oficinas centrales se encuentran en una playa cerca de la capital de brazil, en un
                      ambiente relajado donde todo esta cerca y hasta tiempo para la playa<br><br> disfrutaras de estar
                      trabajando con nosotros porque el trabajo no es solo el estres sino tambien disfrutarlo.</p>
                    <ul class="social-icons">
                      <i class="fab fa-facebook socialMedia"></i>
                      <i class="fab fa-twitter socialMedia"></i>
                      <i class="fab fa-linkedin socialMedia"></i>
                    </ul>
                  </div>
                </div>
              </div>
              <br>
              <br>
            </div>
          </div>
          <div class="container text-center">
            <img class="logo" src="assets/images/WareHouse_Tools.jpg">
            <br>
            <br>
          </div>

        </div>
      </div>
    </div>
</div>


