<br><br><br><br>
<div class="container lg-md-16">
<div class="container col-sm-12">
  <div class="row" >
    <div class="col-sm-12" >
      <form [formGroup]="formulario" (ngSubmit)="submitForm()" novalidate >
        <div class="form-group row" >
          <label for="email">Email</label>
          <input type="email" class="form-control" placeholder="Email" formControlName="email" />
          <div class="col-sm-4">
            <small class="text-danger" *ngIf="errorHandling('email','required')">
              El email es requerido
            </small>
            <small class="text-danger" *ngIf="errorHandling('email','email')">
              Verifique el formato del email
            </small>
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label for="password">Password</label>
          <input type="password" class="form-control" placeholder="Password" formControlName="password" />
          <div class="col-sm-4">
            <small class="text-danger" *ngIf="errorHandling('password','required')">
              El password es requerido
            </small>
          </div>
        </div>
        <br>

        <button type="submit" class="btn btn-primary" title="Iniciar Sesión">Login</button>
          <button type="reset" class="btn btn-secondary" (click)="onReset()">
            Cancelar
          </button>

      </form>
    </div>
  </div>
</div>

</div>
<br>
<br>

