.flexline {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 30px;
}

.imgCatalog {
  height: 300px;
}

.middleContent {
  display: flex;
  justify-content: center;
}

.textformat {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.titleModal{
  color: #B68D40;
}

.btnModal{
  background-color: #B68D40;
  color: white;
}

.modalContentTitle{
  font-size: large;
}
