<!-- Products -->
<div class="container">
  <div class="flexline text-center">
    <form >
      <input type="text" class="form-control" width="20px" placeholder="Search">
      <br>
      <button class="bttn btn-primary">Buscar</button>
    </form>

  </div>
  <br>
  <br>

  <div class="row flexline">
    <br> <br>
    <div class="col-md-4" *ngFor="let item of datos">
      <div class="card">
        <img src="{{item.imagen}}" class="card-img-top img-fluid imgCatalog" data-toggle="tooltip" data-placement="bottom"
          title="{{item.nombre}}" /><br>
        <div class="card-body text-center">
          <h3 class="card-title">{{item.nombre}}</h3>
          <p class="card-text textformat">
            {{item.descripcion}}
          </p>
          <a class="btn btn-sm btn-outline-dark" [routerLink]="['/product/',item.id]" routerLinkActive="active">Detalles</a> |
          <a class="btn btn-sm btn-warning" href="">Editar</a> |
          <a class="btn btn-sm btn-success" href="">Mover</a>

        </div>
      </div>
      <br />
      <br />
    </div>
  </div>

